/* .coolTitle {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
} */

/* .clearfix {
  content: '';
  clear: both;
  display: table;
} */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.done {
  text-decoration: line-through;
}

ul {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

ul > div {
  max-width: fit-content;
  overflow: hidden;
  list-style: none;
}


h1 {
  font-family: 'Kaushan Script', cursive;
}

li {
  font-family: 'Handlee', cursive;
  display: inline-block;
  list-style-position: inside;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgb(6, 158, 120);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.welcm-img > img{
  width:671px;
  object-fit: cover;
  text-align: center;
  display:block;
    margin:auto;
}
.header{
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  font-size: 43px;
}
span{
  font-size: 56x;
  color:rgb(6, 158, 120);
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 40px;
}
.rotate{
  transition: 1s ease-in-out;
}
.rotate2{
  transition: 1s ease-in-out;
}
.rotate2:hover{
  transform: translate(0, 3em);
}
.rotate:hover{
  transform: translate(3em,0);
}
#svgs1{
  width: 557px;
  object-fit: cover;
}
#svgs2{
  width: 300px;
  object-fit: cover;
}
#svgs3{
  width: 600px;
  object-fit: cover;
}
@media screen and (max-width:1214px) and (min-width:1040px){
  #svgs1{
    width: 457px;
    object-fit: cover;
  }
  #svgs2{
    width: 300px;
    object-fit: cover;
  }
  #svgs3{
    width: 500px;
    object-fit: cover;
  }
  #rotate-img{
    width: 500px;
    object-fit: cover;
  }
}
@media screen and (max-width:1039px) and (min-width:933px){
  #svgs1{
    width: 420px;
    object-fit: cover;
  }
  #svgs2{
    width: 280px;
    object-fit: cover;
  }
  #svgs3{
    width: 400px;
    object-fit: cover;
  }
  #rotate-img{
    width: 450px;
    object-fit: cover;
  }
  .header{
    font-size: 40px;
  }
}
@media screen and (max-width:932px)  and (min-width:727px){
  #svgs1{
    width: 380px;
    object-fit: cover;
  }
  #svgs2{
    width: 220px;
    object-fit: cover;
  }
  #svgs3{
    width: 320px;
    object-fit: cover;
  }
  #rotate-img{
    width: 390px;
    object-fit: cover;
  }
  .header{
    font-size: 38px;
  }
}
@media screen and (max-width:932px)  and (min-width:678px){
  #svgs1{
    width: 280px;
    object-fit: cover;
  }
  #svgs2{
    width: 180px;
    object-fit: cover;
  }
  #svgs3{
    width: 220px;
    object-fit: cover;
  }
  #rotate-img{
    width: 310px;
    object-fit: cover;
  }
  .header{
    font-size: 34px;
  }
}
@media screen and (max-width:677px){
  #svgs1{
    width: 220px;
    object-fit: cover;
  }
  #svgs2{
    width: 100px;
    object-fit: cover;
  }
  #svgs3{
    width: 140px;
    object-fit: cover;
  }
  #rotate-img{
    width: 230px;
    object-fit: cover;
  }
  #welcm{
    width: 600px;
    object-fit: cover;
  }
  .header{
    font-size: 30px;
  }
}
@media screen and (max-width:609px){
  #welcm{
    width: 200px;
    object-fit: cover;
  }
  #svgs1{
    width: 150px;
    object-fit: cover;
  }
}

